#container {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
}

#chart, #transactions {
   display: inline;
}

#transactions {
   flex-basis: 60%;
   margin-top: 10px;
}

#add-transaction-button, .remove-transaction-button {
   display: inline-block;
   border: black solid 1px;
   border-radius: 1px;
   cursor: pointer;
   width: 20px;
   text-align: center;
}

input {
   display: inline-block;
}

li {
   margin-bottom: 10px;
}

#render-plot {
   display: inline-block;
   border: black solid 1px;
   border-radius: 3px;
   cursor: pointer;
   text-align: center;
   padding: 5px;
   margin-top: 10px;
}
