#container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   height: 100%;
}

#chart, #transactions {
   display: inline;
}

#transactions, #addressInput {
   flex-basis: 40%;
   margin-top: 10px;
   margin-right: 5%;
}

#inputContainer {
   display: flex;
}

#upload-json-history-and-render-transactions-and-plot-container {
   text-align: center;
   margin: 0 0 14px 0;
}

#upload-render-button-container {
   display: inline-block;
   text-align: center;
   margin: 0 20px 0 20px;
}

#upload-json-history, #render-plot, #render-transactions {
   border: black solid 1px;
   border-radius: 3px;
   cursor: pointer;
   padding: 5px;
   display: inline-block;
   /*text-align: center;*/
   margin: 0 20px 0 20px;
}

.address {
   border: black dashed 1px;
   padding: 3px;
   border-radius: 3px;
   margin: 0 0 8px 12px;
   display: inline-block;
}

pre {
   overflow-y: hidden;
}
/*#add-transaction-button, .remove-transaction-button {*/
   /*display: inline-block;*/
   /*border: black solid 1px;*/
   /*border-radius: 1px;*/
   /*cursor: pointer;*/
   /*width: 20px;*/
   /*text-align: center;*/
/*}*/

/*input {*/
   /*display: inline-block;*/
/*}*/

/*li {*/
   /*margin-bottom: 10px;*/
   /*display: flex;*/
/*}*/

