extends layout

block content
   div#curve_chart
   div#listofkeys
   select(id="curr", name="curr")
      option(value="ETH") ETH
      option(value="BTC") BTC
   div.input
      span.label Public Key
      input(type="text", value="test", name="pubkey", id='pubkey')
      button(type='button', id="addkey") add
      br
      button(type="button",id="submit") submit  
   script(src="/js/eventlistener.js")
